body {
    font-family: sans-serif;
}
h2 i> fantastic party  
main p {
background-color: blueviolet;
color: blueviolet;
}
footer p {background-color: blueviolet;
color:cornsilk;}
main footer 
 table {background-color: crimson;
 text-align: center;
 border: 3px;}
